@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* body et souris */
* {
  padding: 0 9px;
  /* margin: 0; */
  background-color: beige;
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

body {
  border: 1px solid #fff;
  box-shadow: 1px 1px 8px 1px;
  line-height: 25px;
}

.Windows img {
  width: 300px;
  border-radius: 35px;
}

.Windows .clic {
  width: 800px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
}

.avant {
  float: left;
}

.apres {
  float: right;
}
/* fin de body et souris */

/* Page du programme */

.programme h1 {
  text-decoration: underline;
}

nav a {
  float: right;
  text-decoration: none;
  color: #000;
  font-weight: bold;

  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px;
  background-color: #1987e7;
}
h4 {
  font-style: italic;
}

.programme a {
  color: #000;
}

a:hover {
  color: #24adf3;
}
hr {
  background-color: #000;
  border-width: 10px;
  height: 5px;
}

/* fin de la page du programme */

/* Le footer */

footer a {
  display: inline-flex;
  margin-bottom: 10px;
}

footer {
  margin-bottom: 55px;
}
.previous {
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #1987e7;
}

.next {
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #1987e7;
}
/* fin du footer */

/* la page du clavier */
.clavier {
  line-height: 5px;
  margin-left: 25px;
}

.bold {
  font-weight: bold;
}

.decouvrir img {
  float: left;
}

.decouvrir {
  float: right;
}

.decouvrir p {
  padding: 55px 400px;
  font-style: italic;
}

.red {
  color: #d65600;
}

span {
  font-weight: bold;
}

.black {
  color: #000;
}

.touche img {
  float: right;
  margin-right: 400px;
}

.tech {
  line-height: 5px;
  margin-left: 20px;
}

.ponctuation {
  line-height: 5px;
  margin-left: 13px;
}

.majuscule {
  line-height: 5px;
  margin-left: 13px;
}

.line {
  line-height: 22px;
}

.tabulation {
  margin-left: 13px;
}

.ctrl {
  line-height: 8px;
  margin-left: 19px;
}

.wrap {
  display: flex;
  line-height: 8px;
  margin-bottom: 20px;
}

* {
  /* border: 1px solid; */
}
/* fin de la page du clavier */

/* page de la presentation de microsoft */

.word {
  width: 75%;
}

/* fin de la page de la presentation de microsoft */

/* Le responsive */

@media screen and (max-width: 900px) {
  /* code pour la souris */
  .Windows img {
    width: 200px;
  }

  .Windows .clic {
    width: 400px;
  }

  p,
  h2 {
    font-size: 19px;
  }

  h1 {
    font-size: 30px;
  }
}
/*fin du code pour la souris */

/* code pour le clavier */
@media screen and (max-width: 365px) {
  .clavier {
    display: inline-block;
    line-height: 20px;
  }

  p {
    font-size: 20px;
  }

  img {
    width: 300px;
  }

  .touche img {
    width: 200px;
    float: left;
  }

  .tech p {
    line-height: normal;
  }

  .ponctuation {
    line-height: normal;
  }

  .majuscule {
    line-height: normal;
  }

  .ctrl p{
    line-height: normal;
  }

  .alt p{
    line-height: normal;
  }
}

.wrap p{
  /* width: 100px; */
  padding: 0;
  font-size: 16px;
}
/*fin du code pour le clavier */

/* code du microsoft office */
@media screen and (max-width: 400px) {
  .pres {
    width: 250px;
  }

  .exel {
    width: 250px;
  }

  .point {
    width: 250px;
  }

  .out {
    width: 250px;
  }

  .access {
    width: 250px;
  }

  .office {
    width: 250px;
  }

  .open {
    width: 250px;
  }

  .mac {
    width: 250px;
  }

  .suite {
    width: 250px;
  }
  .fword {
    width: 250px;
  }
  .menu {
    width: 250px;
  }
  .btn {
    width: 250px;
  }
  .fichier {
    width: 250px;
  }
  .page {
    width: 250px;
  }
  .par span {
    font-size: 19px;
  }
  .curseur {
    width: 250px;
  }
}
/* fin du code du microsoft office */
